@model IEnumerable<Tuluc_Dragos_Proiect.Models.LibraryViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered Hammocks Statistics";
}
<h2>Ordered Books Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered Hammocks
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.HammockCount
            </td>
        </tr>
    }
</table>